/* utilizzo box-sizing di tipo border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 512px;
}

.banner {
  height: 268px;  
  background-image: url("./assets/img/banner.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

main {
    background-color: #191d7b;
    padding: 5em;
}

.hero {
    color: #FFFFFF;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

.hero h1 {
    font-family: "Sigmar", sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 2.3em;
    margin-bottom: 0.4em;
}

.hero p {
    font-size: 1.05em;
    font-weight: 300;
}

button{
    width: 100%;
    display: block;
    margin: 1em 0;
    padding: 1em;
    border-radius: 15px;
    font-size: 1.1em;
}

#cta2 {
    background-color: #5865f2;
    color: #ffffff;
}

.card  {
    background-color: #5d64d1;
    color: #ffffff;
    padding: 2em;
    margin: 3em 0;
    border-radius: 25px;
    position: relative;
}

h2 {
    font-family: "Sigmar", sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    font-size: 2.3em;
    margin-bottom: 0.4em;
    margin-top: 1em;
}

.card p {
    font-family: "DM Sans", sans-serif;
    margin: 1em 0;

}

.badge {
    width: 100px;
    position: absolute;
    top: -56px;
    left: 17px;
}

.demo {
    max-width: 100%;
    border-radius: 25px;
}